<%= form_for(@sprint) do |f| %>
  <% if @sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% @sprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_sprint %><br>
    <%= f.text_field :name_sprint %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.number_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.number_field :to %>
  </div>
  <div class="field">
    <%= f.label :total_days %><br>
    <%= f.number_field :total_days %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
